<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comments.css' %}">
</head>

<body>
<ul1>
  <li1><a href="../../">Start</a></li1>
  <li1><a href="../">Sensoren</a></li1>
  <li1><a href="../../minute/">Energieverbruik</a></li1>
  {% if request.session.IsAdmin %}
  <li1><a href="../../../admin/users">Gebruikers</a></li1>
  <li1><a href="../../../admin/report">Verslag</a></li1>
  {% endif %}
  <li1><a href="../about/">Over</a></li1>
</ul1>
<div class="dropdown" >
<button class="dropbtn" style="float:right">Account</button>
    <div class="dropdown-content a">
     <a href="../../settings/">Instellingen</a>
     <a href="../../addHouse/">Voeg huis toe</a>
        <a href="/logout/">Log uit</a>
	</div>
</div>
<br><br><br>


<div class="Comments">
	<p class="AllComment">All comments:</p>
	<!-- add all the comments of the sensor in here dynamically -->
	<ul id="ListCurrentComments">
	</ul>
</div>
<br><br><br><br>
<div class="NewComment">
	<p class="TextAddComment">Voeg comment toe:</p>
	<form id="FormNewComment" action="javascript: void(0);">
		<input type="text" id="NewMessage" name="Message"><br>
		<input type="submit" value="Add comment"><br>
	</form>
</div>

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/comments.js' %}"></script>