<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/defaultstyle.css" %}">
</head>
<body>
<ul1>
	<li1 style=float:left;><a href="../">Home</a></li1>
	<li1><a href="../sensors/">Sensors</a></li1>
	<li1><a class="active" href="">Power Usage</a></li1>
	{% if request.session.IsAdmin %}
	<li1><a href="../../admin/users">Users</a></li1>
	<li1><a href="../../admin/report">Report</a></li1>
  <li1><a href="../../admin/reportoutages/">Outages</a></li1>
	{% endif %}
	<li1><a href="../about/">About</a></li1>
</ul1>
<ul2>
	<li2 style=float:left;><a class="active" href="">Minute Data</a></li2>
	<li2><a href="../hour/">Hourly Data</a></li2>
	<li2><a href="../day/">Daily Data</a></li2>
	<li2><a href="../month/">Monthly Data</a></li2>
	<li2><a href="../year/">Yearly Data</a></li2>
</ul2>
<div class="dropdown" >
<button class="dropbtn" style="float:right">Account</button>
	<div class="dropdown-content a">
		<a href="../settings/">Settings</a>
		<a href="../addHouse/">Add a House</a>
		<a href="../blackouts/">Blackouts</a>
		<a href="/logout/">Log out</a>
	</div>
</div>
<br><br><br><br><br><br>

<div id="programmatic_dashboard_div" style="padding-top:80px ;">
	<table class="columns">
		<tr>
			<td>

				<div id="programmatic_chart_div" ></div>

			</td>
<td>
<div id="colFilter_div"></div>
</td>

		</tr>
			<td>
				<div id="programmatic_control_div" style="padding-left: 200px;min-width: 1100px; min-height: 80px"></div>
			</td>
	</table>
</div>


</body>
</html>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart', 'controls','timeline']});
google.charts.setOnLoadCallback(drawStuff);
//hier is de call
function drawStuff() {
	var dashboard = new google.visualization.Dashboard(document.getElementById('programmatic_dashboard_div'));
	programmaticSlider = new google.visualization.ControlWrapper({
		'controlType': 'ChartRangeFilter',
		'containerId': 'programmatic_control_div',
		'options': {
			'filterColumnIndex': '0',
			'ui': {'labelStacking': 'Vertical'}
		}
	});

    //////////////////////////////////////////////////////////////////////////////////
    //datamanagementstuff

	var data = new google.visualization.DataTable();
	var last_timestamp_in_data;
	var sensorids_update = undefined;
	var datasamples_update = undefined;
	setInterval(function() {
		var now = Date.now();
		var amountMilliseconds = now % 60000;
		var seconds = Math.floor(amountMilliseconds / 1000);
		// console.log(seconds);
		if (sensorids_update == undefined || datasamples_update == undefined) {
			readSensorIDsUpdate();
			readDatasamplesUpdate();
			var timestamp = undefined;
			if (datasamples_update.datasamples.length == 0) {
				//push 0's since there is no data available (outage)
				timestamp = dateAddMinutes(last_timestamp_in_data, 1);
			}
			else {
				timestamp = convertToDate(datasamples_update.datasamples[0].CreationTimestamp);
			}
			if (timestamp.getTime() > last_timestamp_in_data.getTime()) {
				// console.log("adding the new timestamp at the start.");
				newDatapoints = [[]];
				newDatapoints[0].push(timestamp);
				for (i = 0; i < sensorids_update.length+1; i++) {
					newDatapoints[0].push(0);
				}
				data.addRows(newDatapoints);
				last_timestamp_in_data = timestamp;
			}
			if (datasamples_update.datasamples.length == 0) {
				// don't update the values
				drawChart();
				return;
			}
			var counter = 0;
			for (i = 0; i < sensorids_update.length; i++) {
				if (datasamples_update.datasamples[counter].SensorID != sensorids_update[i]) {
					data.setValue(data.getNumberOfRows()-1, i+1, 0);
				}
				else {
					data.setValue(data.getNumberOfRows()-1, i+1, datasamples_update.datasamples[counter].Value * (seconds/60));
					counter += 1;
					if (counter >= datasamples_update.datasamples.length) {
						counter--;
					}
				}
			}
			data.setValue(data.getNumberOfRows()-1, data.getNumberOfColumns()-1, datasamples_update.Total * (seconds/60));
			drawChart();
			return;
		}
		if (seconds == 3) {
			var old_sensorids = sensorids_update;
			var old_datasamples = datasamples_update;
			readSensorIDsUpdate();
			readDatasamplesUpdate();
			
			if (old_datasamples.datasamples.length != 0) {
				//make sure the last minute has the right values
				var counter = 0;
				for (i = 0; i < old_sensorids.length; i++) {
					//push 0's since this is the start of the minute
					if (old_datasamples.datasamples[counter].SensorID != old_sensorids[i]) {
						data.setValue(data.getNumberOfRows()-1, i+1, 0);
					}
					else {
						data.setValue(data.getNumberOfRows()-1, i+1, old_datasamples.datasamples[counter].Value);
						counter += 1;
						if (counter >= old_datasamples.datasamples.length) {
							counter--;
						}
					}
				}
				data.setValue(data.getNumberOfRows()-1, data.getNumberOfColumns()-1, old_datasamples.Total);
			}
			var newDatasamples = [[]];
			var timestamp = dateAddMinutes(last_timestamp_in_data, 1);
			// var timestamp = convertToDate(datasamples_update.datasamples[0].CreationTimestamp);
			newDatasamples[0].push(timestamp);
			last_timestamp_in_data = timestamp;
			var counter = 0;
			for (i = 0; i < sensorids_update.length; i++) {
				//push 0's since this is the start of the minute
				newDatasamples[0].push(0);
			}
			newDatasamples[0].push(0); //push the total
			data.addRows(newDatasamples);
			data.removeRow(0);
			drawChart();
		}
		else if (seconds % 2 == 0 && seconds != 0 && seconds != 1 && seconds != 2) {
			// console.log("Changing the current existing values.");
			if (datasamples_update.datasamples.length == 0) {
				return;
			}
			var counter = 0;
			for (i = 0; i < sensorids_update.length; i++) {
				if (datasamples_update.datasamples[counter].SensorID != sensorids_update[i]) {
					data.setValue(data.getNumberOfRows()-1, i+1, 0);
				}
				else {
					data.setValue(data.getNumberOfRows()-1, i+1, datasamples_update.datasamples[counter].Value * (seconds/60));
					counter += 1;
					if (counter >= datasamples_update.datasamples.length) {
						counter--;
					}
				}
			}
			data.setValue(data.getNumberOfRows()-1, data.getNumberOfColumns()-1, datasamples_update.Total * (seconds/60));
			drawChart();
		}
	}, 1000);
	
	function readSensorIDsUpdate() {
		sensorids_update = []
		$.ajax({
			url:"/index/sensors/currentTitles",
			method:"GET",
			async: false,
			success: function(text) {
				var sensordata = JSON.parse(text);
				for (i = 0; i < sensordata.sensors.length; i++) {
					sensorids_update.push(sensordata.sensors[i].SensorID);
				}
			}
		});	
	}
	function readDatasamplesUpdate() {
		datasamples_update = []
		$.ajax({
			url:"currentMinute",
			method:'Get',
			async: false,
			success: function(text) {
				var datasamples = JSON.parse(text);
				datasamples_update = datasamples;
			}
		});
	}
	window.onload = getdata();
	function getdata() {
		data.addColumn('datetime', 'Time');
		var sensorids = [];
		$.ajax({
			url:"/index/sensors/currentTitles/",
			method:"GET",
			async: false,
			success: function(text) {
				var sensordata = JSON.parse(text);
				for (i = 0; i < sensordata.sensors.length; i++) {
					data.addColumn("number", sensordata.sensors[i].Title);
					sensorids.push(sensordata.sensors[i].SensorID);
				}
				data.addColumn("number", "Total");
			}
		});
		$.ajax({
			url:"current/",
			method:"GET",
			async: false,
			success: function(text) {
				var minutedata = JSON.parse(text);
				var datapoints = [];
				
				//alle times aanmaken en in de table steken, mss nog inefficienter als ik eerst al vreesde :/
				datapoints.push([]);	
				var firsttime = convertToDate(minutedata.firstTimestamp);
				datapoints[0].push(firsttime);
				var lasttime = Date.now();
				var totaltime = Math.floor((lasttime - firsttime.getTime())/60000)-1;
				for (j = 0; j < totaltime; j++) {
					datapoints[0].push(dateAddMinutes(firsttime, j+1));
					if (j == totaltime-1) {
						last_timestamp_in_data = dateAddMinutes(firsttime, j+1);
					}
				}
				
				var counter = 0;
				if (minutedata.datasamples.length > 0) {
					for (i = 0; i < sensorids.length; i++) {
						datapoints.push([]);
						for (j = 0; j < datapoints[0].length; j++) {
							while (minutedata.datasamples[counter].SensorID < sensorids[i]) {
								//skip the next values since we don't need them
								counter++;
								if (counter >= minutedata.datasamples.length) {
									counter--;
									break;
								}
							}
							var datecompare = convertToDate(minutedata.datasamples[counter].CreationTimestamp);
							if (minutedata.datasamples[counter].SensorID > sensorids[i]) {
								//sensorid does not match anymore, means there are no datasamples left for the current sensor --> fill everything up with 0
								for (j; j < datapoints[0].length; j++) {
									datapoints[i+1].push(0);
								}
							}
							else if (datapoints[0][j].getTime() != datecompare.getTime()) {
								//The timestamp does not match the one you are checking --> push 0
								datapoints[i+1].push(0);
							}
							else {
								datapoints[i+1].push(parseFloat(minutedata.datasamples[counter].Value));
								counter++;
								if (counter >= minutedata.datasamples.length) {
									sensorids[i]=sensorids[i]+2;
									counter--;
								}
							}
						}
					}
				}
				else {
					//No datasamples available -> fill everything with 0's
					for (i = 0; i < sensorids.length; i++) {
						datapoints.push([]);
						for (j = 0; j < datapoints[0].length; j++) {
							datapoints[i+1].push(0);
						}
					}
				}
				//Create the rows and the total values of each timestamp
				var total = [];
				for(i = 0; i < datapoints[0].length; i++) {
					var row = [];
					var totalsum = 0;
					row.push(datapoints[0][i]);
					for(j = 1; j < datapoints.length; j++) {
						row.push(datapoints[j][i]);
						totalsum = totalsum + datapoints[j][i];
						
					}
					row.push(parseFloat(totalsum));
					total.push(row);
				}
				data.addRows(total);
			}
		});
	}
    //end datamanagementstuff
    //////////////////////////////////////////////////////////////////////////////////  
    //columnfilterstuff

	var columnsTable = new google.visualization.DataTable();
	columnsTable.addColumn('number', 'colIndex');
	columnsTable.addColumn('string', 'colLabel');
	var initState= {selectedValues: []};
	// put the columns into this data table (skip column 0)
	for (var i = 1; i < data.getNumberOfColumns(); i++) {
		columnsTable.addRow([i, data.getColumnLabel(i)]);
	}

    //choosing start columns
    var sensorids = [];
    $.ajax({
	    url:"/index/sensors/currentTitles/",
	    method:"GET",
	    async: false,
	    success: function(text) {
		    var sensordata = JSON.parse(text);
		    for (i = 0; i < sensordata.sensors.length; i++) {
			    sensorids.push(sensordata.sensors[i].SensorID);
		    }
           $.ajax({
                url:"/index/minute/currentMinute/",
                method:"GET",
                async: false,
                success: function(text) {
                    var currentdatapoints = [];

                    var lastminute = JSON.parse(text);
                    var counter = 0;
                    for(i = 0; i < sensorids.length; i++){
                        //fills up a row as usual, in order to find highest users
                        if(lastminute.datasamples[counter].SensorID != sensorids[i]){
	                       currentdatapoints.push(0);
                        }
                        else{
                            currentdatapoints.push(parseFloat(lastminute.datasamples[counter].Value));
                            counter++;
	                        if(counter>=lastminute.datasamples.length){
		                        sensorids[i]=sensorids[i]+2;
                                counter--;
	                        }
                        }
                    }
                    //arbitrair hoog getal, mag die niet aan komen
                    var _max = 100000000;
                    
                    // k sensors will be shown in graph by default, now 7
                    for(k = 0; k < 7; k++){
                        var to_init = 0;
                        var _min = 0;

                        var found_one = false;
                        for(i=0;i < currentdatapoints.length; i++){
                            //finds highest differing powerusers within the current minute, to add to the graph by default
                            if(currentdatapoints[i] >= _min){
                                if(currentdatapoints[i] < _max){
                                    //the value chosen is the highest value that is lower than the other selected values
                                    _min = currentdatapoints[i];
                                    to_init = i;
                                    found_one = true;
                                }
                            }

                        }

                        if(found_one == true){
                            initState.selectedValues.push(data.getColumnLabel(to_init+1));
                            _max = currentdatapoints[to_init];
                        }
                        else{
                            if(k <= 4){
                                //too little columns with differing high usages found, add the total to the graph, and stop
                                initState.selectedValues.push(data.getColumnLabel(data.getNumberOfColumns()-1))
                                k=8;
                            }
                            else{
                                //enough columns found already, stop
                                k=8;
                            }                                
                        }
                    }
                }
            });
	    }
    });
    //zoals ik zei... een beetje onderschat
    
    //dit was de oude code...
	/*for (var i = 1; i < data.getNumberOfColumns(); i++) {
		initState.selectedValues.push(data.getColumnLabel(i));
	}*/
	programmaticChart  = new google.visualization.ChartWrapper({
		'chartType': 'LineChart',
		'containerId': 'programmatic_chart_div',
		 dataTable: data,
		'options': {
			vAxis: {
				title: 'Watt'
			},
			hAxis: {
				title: 'Time'
			},
			'width': 1500,
			'height': 700,
			'legend': {position : 'right'},
		}
	});
	var columnFilter = new google.visualization.ControlWrapper({
		controlType: 'CategoryFilter',
		containerId: 'colFilter_div',
		dataTable: columnsTable,
		options: {
			filterColumnLabel: 'colLabel',
			ui: {
				label: ' ',
				allowTyping: false,
				allowMultiple: true,
				allowNone: false,
				selectedValuesLayout: 'belowStacked'
			}
		},
		state: initState
	});
	function setChartView () {
		var state = columnFilter.getState();
		var row;
		var view = {
			columns: [0]
		};
		for (var i = 0; i < state.selectedValues.length; i++) {
			row = columnsTable.getFilteredRows([{column: 1, value: state.selectedValues[i]}])[0];
			view.columns.push(columnsTable.getValue(row, 0));
		}
		// sort the indices into their original order
		view.columns.sort(function (a, b) {
			return (a - b);
		});
		programmaticChart.setView(view);
		programmaticChart.draw();
	}

    //end columnfilterstuff
    //////////////////////////////////////////////////////////////////////////////////


	google.visualization.events.addListener(columnFilter, 'statechange', setChartView);
	setChartView();
	columnFilter.draw();
	dashboard.bind(programmaticSlider, programmaticChart, columnFilter);
	dashboard.draw(data);
	function drawChart() {
		var currentState = programmaticSlider.getState();
		var currentEndTime = currentState.range.end;
		if (currentEndTime.getTime() >= last_timestamp_in_data.getTime()) {
		}
		else if (currentEndTime.getTime() > (dateAddMinutes(last_timestamp_in_data, -5)).getTime()) {
			programmaticSlider.setState({
				range: {
					start: currentState.range.start ,
					end: last_timestamp_in_data
				}
			});
			programmaticSlider.draw();
		}
		dashboard.draw(data);
	}
}
function convertToDate(timestamp) {
	var timeyear = timestamp.slice(0,4);
	var timemonth = timestamp.slice(5,7)-1;
	var timeday = timestamp.slice(8,10);
	var timehour = timestamp.slice(11,13);
	var timeminute = timestamp.slice(14,16);
	return (new Date(timeyear, timemonth, timeday, timehour, timeminute))
}
function dateAddMinutes(date, minutes) {
	return new Date(date.getTime() + minutes * 60000);
}
</script>
