<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "userpage/defaultstyle.css" %}">
</head>
<body>
<ul>
  <li><a href="../">Home</a></li>
  <li><a href="../sensors/">Sensors</a></li>
  <li><a class="active" href="">MinuteData</a></li>
  <li><a href="../hour/">HourData</a></li>
  <li><a href="../day/">DayData</a></li>
  <li><a href="../month/">MonthData</a></li>
  <li><a href="../year/">YearData</a></li>
</ul>

	{% if minutedata_list %}
		<div style="overflow-x:auto;">
		<table>
			<tr>
				<th>Creation date</th>
				<th>Sensor ID</th>
				<th>Value</th>
			</tr>
		{% for minutedatasample in minutedata_list %}
			<tr>
				<td>{{minutedatasample.CreationTimestamp}}</td>
				<td>{{minutedatasample.SensorID}}</td>
				<td>{{minutedatasample.Value}}</td>
			</tr>
		{% endfor %}
		</table>
		</div>
	{% else %}
		<p>There are no data samples in the database.</p>
	{% endif %}
</body>
</html>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script>


function getdata() {
	var jsonhttp = new XMLHttpRequest();
	var url = "1/";

	jsonhttp.onreadystatechange = function() {
		if (jsonhttp.readyState == 4 && jsonhttp.status == 200) {
			var minutedata = JSON.parse(jsonhttp.responseText);

			// function here with minutedata
		}
	}
	jsonhttp.open("GET", url, true);
	jsonhttp.send();
}


window.onload = getdata;
</script>