<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/defaultstyle.css" %}">
</head>
<body>
<ul1>
	<li1 style=float:left;><a href="../">Home</a></li1>
	<li1><a href="../sensors/">Sensors</a></li1>
	<li1><a class="active" href="">Power Usage</a></li1>
	{% if request.session.IsAdmin %}
	<li1><a href="../../admin/users">Users</a></li1>
	<li1><a href="../../admin/report">Report</a></li1>
	{% endif %}
	<li1><a href="../about/">About</a></li1>
</ul1>
<ul2>
	<li2 style=float:left;><a href="../minute/">Minute Data</a></li2>
	<li2><a href="../hour/">Hourly Data</a></li2>
	<li2><a href="../day/">Daily Data</a></li2>
	<li2><a class="active" href="">Monthly Data</a></li2>
	<li2><a href="../year/">Yearly Data</a></li2>
</ul2>
<div class="dropdown" >
<button class="dropbtn" style="float:right">Account</button>
	<div class="dropdown-content a">
			<a href="../settings/">Settings</a>
			<a href="../addHouse/">Add a House</a>
			<a href="/logout/">Log out</a>
	</div>
</div>
<br><br><br><br><br><br>

<div id="programmatic_dashboard_div" style="padding-top:80px ;">
	<table class="columns">
		<tr>
			<td>

				<div id="programmatic_chart_div" ></div>

			</td>
<td>
<div id="colFilter_div"></div>
</td>

		</tr>
			<td>
				<div id="programmatic_control_div" style="padding-left: 200px;min-width: 1100px; min-height: 80px"></div>
			</td>
	</table>
</div>


</body>
</html>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart', 'controls','timeline']});
google.charts.setOnLoadCallback(drawStuff);
//hier is de call




function drawStuff() {

	var dashboard = new google.visualization.Dashboard(
		document.getElementById('programmatic_dashboard_div'));

	programmaticSlider = new google.visualization.ControlWrapper({
		'controlType': 'ChartRangeFilter',
		'containerId': 'programmatic_control_div',
		'options': {
			'filterColumnIndex': '0',
			'ui': {'labelStacking': 'Vertical'}
		}
});


var data = new google.visualization.DataTable();
window.onload = getdata();
	
//      var data = new google.visualization.DataTable();
//  data.addColumn('datetime', 'Time');
//      data.addColumn('number', 'Electric shower');
//  data.addColumn('number', 'Microwave');
//  data.addColumn('number', 'Lamp1');
//  data.addColumn('number', 'Lamp2');
//  data.addColumn('number', 'Oven');
//  data.addColumn('number', 'Tesla coil');
//  data.addColumn('number', 'fusion furnace');
//
//  data.addRows([
//        [new Date(2016, 0, 1, 1, 1),              120,       190,     400,    700,   1000,   20000,     900       ],
//        [new Date(2016, 0, 1, 1, 2),              170,         240,      0,     600,   100,      50000,     900       ],
//        [new Date(2016, 0, 1, 1, 3),              300,       300,      0,     600,   100,      30000,       1000      ],
//        [new Date(2016, 0, 1, 1, 4),              500,         300,        0,      0,    100,      25000,     4500      ],
//        [new Date(2016, 0, 1, 1, 5),              500,         360,     650,     0,    1000,     30000,   3500      ],
//        [new Date(2016, 0, 1, 1, 6),              1000,        1000,    600,    800,   1000,     50000,   10000     ],
//        [new Date(2016, 0, 1, 1, 7),              1000,        766,     400,    800,   900,  10000,     7000      ],
//  [new Date(2016, 0, 1, 1, 8),              800,       700, 400,    700,   1000,     50000,   7000      ],
//  [new Date(2016, 0, 1, 1, 9),              500,       600,       400,    600,   1000,     45000,     6500      ],
//  [new Date(2016, 0, 1, 1, 10),             70,          60,  0,  600,   50,   15000,   3000    ],
//
//      ]);

//hier zit de nieuwe stuff




function getdata() {
	data.addColumn('datetime', 'Time');
	var sensorids = [];

	$.ajax({
		url:"/index/sensors/currentTitles/",
		method:"GET",
		async: false,
		success: function(text) {
			var sensordata = JSON.parse(text);
			for (i = 0; i < sensordata.sensors.length; i++) {
				data.addColumn("number", sensordata.sensors[i].Title);
				sensorids.push(sensordata.sensors[i].SensorID);
			}
            data.addColumn("number", "Total");

		}
	});

	$.ajax({
		url:"current/",
		method:"GET",
		async: false,
		success: function(text) {
			var minutedata = JSON.parse(text);
			// function here with minutedata
			var datapoints = [];

			//var whilestop = false;
			//var firstID = minutedata.datasamples[0].SensorID;
			
			// var temptimearray = [minutedata.datasamples[counter].CreationTimestamp];
			// datapoints.push(temptimearray)

//alle times aanmaken en in de table steken, mss nog inefficienter als ik eerst al vreesde :/

			datapoints.push([]);	
			var timeyear = minutedata.firstTimestamp.slice(0,4);
			var timemonth = minutedata.firstTimestamp.slice(5,7) -1;
			datapoints[0].push(new Date(timeyear, timemonth));

			for(j = 0; j <132;j++){
					if(timemonth>=11){
						timemonth = 0;
						timeyear++;
					}
					else{
						timemonth++;
					}
    				datapoints[0].push(new Date(timeyear, timemonth));
										
			}
			var counter = 0;
            var testcount = 0;
            if(minutedata.datasamples.length>0){
			    for(i = 0; i < sensorids.length; i++){
				    datapoints.push([]);
				    for(j = 0; j < datapoints[0].length; j++){

					    var yearcompare = minutedata.datasamples[counter].CreationTimestamp.slice(0,4);
					    var monthcompare = minutedata.datasamples[counter].CreationTimestamp.slice(5,7)-1;
					    var datecompare = new Date(yearcompare, monthcompare);
                        
					    if(minutedata.datasamples[counter].SensorID != sensorids[i]){
                           // console.log(minutedata.datasamples[counter].SensorID);
                           // console.log(sensorids[i]);
						    for(j; j < datapoints[0].length; j++){
							    datapoints[i+1].push(0);
						    }
						
					    }


					    else if(datapoints[0][j].getTime() != datecompare.getTime()){
						    datapoints[i+1].push(0);
					    }
					    else{
                            testcount++;
						    datapoints[i+1].push(parseFloat(minutedata.datasamples[counter].Value));
						    counter++;
						    if(counter>=minutedata.datasamples.length){
							    sensorids[i]=sensorids[i]+2;
                                counter--;
						    }
					    }

				    }
			    }
            }
            else{
		        for(i = 0; i < sensorids.length; i++){
			        datapoints.push([]);
	                for(j=0; j < datapoints[0].length; j++){
		                datapoints[i+1].push(0);
	                }
                }
            }
           // var testDate1 = datapoints[0][500];
            //var testDate2 = new Date(2016,4,24,5,12);
 //           console.log(testDate1);
   //         console.log(testDate2);
     //       console.log(testDate1.getTime() == testDate2.getTime());
       //     console.log(counter);
			//while(whilestop == false){
			//	if(counter >= minutedata.datasamples.length){
			//		whilestop = true;
			//	}
			//	if(minutedata.datasamples[counter+1].SensorID != firstID){
			//		whilestop = true;
			//	}
			//	var timemonth = minutedata.datasamples[counter].CreationTimestamp.slice(5,7);
			//	var timeday = minutedata.datasamples[counter].CreationTimestamp.slice(8,10);
			//	var timehour = minutedata.datasamples[counter].CreationTimestamp.slice(11,13);
			//	var timeminute = minutedata.datasamples[counter].CreationTimestamp.slice(14,16);
			//	datapoints[0].push(new Date(timeyear, timemonth, timeday, timehour, timeminute));
			//	counter++;
			//}
			// counter--;
			//var columncounter =0;
			//for (i = 0; i < minutedata.datasamples.length; i += counter) {
			//	datapoints.push([]);
			//	columncounter++;
			//	for(j = 0; j < counter;j++){
			//		datapoints[columncounter].push(parseFloat(minutedata.datasamples[i+j].Value));
			//	}
			//}
			// console.log(counter);
			// console.log(columncounter);
			var total = [];
			for(i = 0; i < datapoints[0].length; i++) {
				var row = [];
                var totalsum = 0;
				// console.log(datapoints.length);
                row.push(datapoints[0][i]);
				for(j = 1; j < datapoints.length; j++) {
					row.push(datapoints[j][i]);
                    totalsum = totalsum + datapoints[j][i];
				}
                row.push(parseFloat(totalsum));
				total.push(row);
			}
			data.addRows(total);
		}
	});
}


//tot hier

var columnsTable = new google.visualization.DataTable();
columnsTable.addColumn('number', 'colIndex');
columnsTable.addColumn('string', 'colLabel');
var initState= {selectedValues: []};
// put the columns into this data table (skip column 0)
for (var i = 1; i < data.getNumberOfColumns(); i++) {
		columnsTable.addRow([i, data.getColumnLabel(i)]);
}
for (var i = 1; i < data.getNumberOfColumns(); i++) {
		initState.selectedValues.push(data.getColumnLabel(i));
}

 programmaticChart  = new google.visualization.ChartWrapper({
	'chartType': 'LineChart',
	'containerId': 'programmatic_chart_div',
	 dataTable: data,
	'options': {
		'width': 1500,
		'height': 700,
		'legend': {position : 'right'},
	}
});



var columnFilter = new google.visualization.ControlWrapper({
		controlType: 'CategoryFilter',
		containerId: 'colFilter_div',
		dataTable: columnsTable,
		options: {
				filterColumnLabel: 'colLabel',
				ui: {
						label: ' ',
						allowTyping: false,
						allowMultiple: true,
						allowNone: false,
						selectedValuesLayout: 'belowStacked'
				}
		},
		state: initState
});

function setChartView () {
	var state = columnFilter.getState();
	var row;
	var view = {
			columns: [0]
	};
	for (var i = 0; i < state.selectedValues.length; i++) {
			row = columnsTable.getFilteredRows([{column: 1, value: state.selectedValues[i]}])[0];
			view.columns.push(columnsTable.getValue(row, 0));
	}
	// sort the indices into their original order
	view.columns.sort(function (a, b) {
			return (a - b);
	});
	programmaticChart.setView(view);
	programmaticChart.draw();
}
google.visualization.events.addListener(columnFilter, 'statechange', setChartView);


setChartView();
columnFilter.draw();
	dashboard.bind(programmaticSlider, programmaticChart, columnFilter);
	dashboard.draw(data);
}

</script>
