<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sensor.css' %}">
</head>
<body>
<ul1>
  <li1><a href="../">Start</a></li1>
  <li1><a class="active" href="">Sensoren</a></li1>
  <li1><a href="../minute/">Energieverbruik</a></li1>
  {% if request.session.IsAdmin %}
  <li1><a href="../../admin/users">Gebruikers</a></li1>
  <li1><a href="../../admin/report">Verslag</a></li1>
  {% endif %}
  <li1><a href="../about/">Over</a></li1>
</ul1>
<div class="dropdown" >
<button class="dropbtn" style="float:right">Account</button>
    <div class="dropdown-content a">
        <a href="../settings/">Instellingen</a>
        <a href="../addHouse/">Voeg huis toe</a>
        <a href="/logout/">Log uit</a>
	</div>
</div>
	{% if hasHouse %}

		<br><br><br>
		<div style="overflow-x:auto;">
		<table id="sensortableinfo">
			<tr id="sensortableheader">
				<th>Titel</th>
				<th>Apparatuur</th>
				<th>Beschrijving</th>
				<th>Eenheid</th>
				<th>Actief</th>
			</tr>
		</table>
		</div>

		<div class="formstyle" style="display:none;">
			<form action="javascript:void(0);" id="formNewSensor">
			<label for="Title">Titel</label><br>
 				<input type="text" id="Title" name="Title"><br>

			<label for="Apparature">Apparatuur</label><br>
		    	<input type="text" id="Apparature" name="Apparature"><br>
	
    		<label for="Description">Beschrijving</label><br>
		    	<input type="text" id="Description" name="Description"><br>

			<label for="Unit">Eenheid</label><br>
		    	<input type="text" id="Unit" name="Unit"><br><br>
    		<input type="submit" value="Voeg toe"><br>
    		<div class="cancelbutton" onclick="finishForm()" type="button">Annuleren</div>
		</div>

		<br>
		<div class="sensorbutton" onclick="showSensorForm()">Voeg nieuwe sensor toe</div>
	{% else %}
		<p>U heeft momenteel geen huis gelinked met uw account.</p>
	{% endif %}
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/sensor_nl.js' %}"></script>
