<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "userpage/defaultstyle.css" %}">
</head>
<body>
<ul>
  <li><a href="../">Home</a></li>
  <li><a class="active" href="">Sensors</a></li>
  <li><a href="../minute/">MinuteData</a></li>
  <li><a href="../hour/">HourData</a></li>
  <li><a href="../day/">DayData</a></li>
  <li><a href="../month/">MonthData</a></li>
  <li><a href="../year/">YearData</a></li>
</ul>
	{% if sensor_list %}

		<br>
		<div style="overflow-x:auto;">
		<table id="sensortableinfo">
			<tr id="sensortableheader">
				<th>Title</th>
				<th>Apparature</th>
				<th>Description</th>
				<th>Unit</th>
				<th>Active</th>
			</tr>
		</table>
		</div>

		<br><br>
		<button id="btnAddNewSensor" onclick="createSensorForm(this)">Add new sensor</button>

	{% else %}
		<p>There are no sensors in the database.</p>
	{% endif %}
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
// testscripts in this part


function updateData(element) {

	// columnName = typeof columnName !== 'undefined' ? columnName : "Title";
	var columnName = element.getAttribute("id");
	if (columnName == "Active") {
		updateActive(element);
	}

	var newValue = prompt("Enter new value.", "");
	if (newValue == undefined)
		return;
	var sensorID = element.parentNode.getAttribute("sensorID");

	// Shenanigans moving onward from here
	// -----------------------------------

	var url = "updateSensor/";

	// console.log(element.getAttribute("id"));

	var xhttp = new XMLHttpRequest();
	xhttp.open("POST", url, true);
	xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); // undermines cross site forgery
	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); // this is needed for the request to be processed like a standard form
	xhttp.send("id=" + sensorID + "&columnname=" + columnName + "&newvalue=" + newValue);

	// console.log(xhttp.responseText);
	

	element.innerHTML = newValue;
}

function updateActive(element) {
	var columnName = "Active";
	var sensorID = element.parentNode.getAttribute("sensorID");
	var newValue = "0";
	if (element.getAttribute("value") == "0")
		newValue = "1";


	//update the active value in the database
	var url = "updateSensor/";
	var xhttp = new XMLHttpRequest();
	xhttp.open("POST", url, true);
	xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.send("id=" + sensorID + "&columnname=" + columnName + "&newvalue=" + newValue);


	//update the crossmark/checkmark
	element.removeChild(element.firstChild);	
	if (newValue == "1") {
		element.appendChild(Checkmark());
		element.setAttribute("value", "1");
	}
	else {
		element.appendChild(Crossmark());
		element.setAttribute("value", "0");
	}
}

$.ajaxSetup({
	beforeSend: function(xhr, settings) {
		xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
	}
});

$('body').on("submit", "#formNewSensor", function(eventobj) {
	eventobj.preventDefault();
	$.ajax({
		url: "addSensor/",
		type: "post",
		data: ($("#formNewSensor").serialize()+'&'+$.param({'InstalledOn': 1})),
		succes: function() {
			//show the add button and remove the form
			//CAN BE CHANGED LATER TO HIDE/SHOW THE FORM ASWELL
			$("#btnAddNewSensor").show();
			$("#formNewSensor").remove();
		}
	});
	$("#btnAddNewSensor").show();
	$("#formNewSensor").remove();
	LoadSensorData();
});

function createSensorForm(element) {
	var formNode = document.createElement("form");
	formNode.setAttribute("id", "formNewSensor");
	formNode.setAttribute("action", "javascript:void(0);");
	// formNode.setAttribute("method", "post");

	var addFormInputElement = function lambda_addFormInputElement(name, elementToAppend) {
		var formInput = document.createElement("input");
		formInput.setAttribute("type", "text");
		formInput.setAttribute("name", name);
		var formInputText = document.createTextNode("" + name + ": ");
		var formInputNewLine = document.createElement("br");

		elementToAppend.appendChild(formInputText);
		elementToAppend.appendChild(formInput);
		elementToAppend.appendChild(formInputNewLine);
	}

	formNode.appendChild(document.createElement("br"));
	addFormInputElement("Title", formNode);
	addFormInputElement("Apparature", formNode);
	addFormInputElement("Description", formNode);
	addFormInputElement("Unit", formNode);


	var formButton = document.createElement("input");
	formButton.setAttribute("type", "submit");
	formButton.setAttribute("value", "Submit");
	formNode.appendChild(formButton);


	// console.log(formNode);
	document.body.appendChild(formNode);


	//JQUERY
	$("#btnAddNewSensor").hide();
	console.log(document.body);

	//PLAIN JSC
	// var btnAdd = document.getElementById("btnAddNewSensor");
	// btnAdd.parentNode.removeChild(btnAdd);
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

<script>
function LoadSensorData() {
	var jsonhttp = new XMLHttpRequest();
	var url = "/index/sensors/all";

	jsonhttp.onreadystatechange = function() {
		if (jsonhttp.readyState == 4 && jsonhttp.status == 200) {
			// console.log(jsonhttp.responseText);
			var sensordataobject = JSON.parse(jsonhttp.responseText);
			DisplaySensorDataTable(sensordataobject);
		}
	}
	jsonhttp.open("GET", url, true);
	jsonhttp.send();
}


function DisplaySensorDataTable(dataobject) {

	var table = document.getElementById("sensortableinfo");
	// console.log(table);
	// console.log(table.childNodes);

	var count = table.childNodes.length;
	// console.log(count);

	for (var i = 2; i < count; i++) {
		// console.log(table.childNodes[2]);
		table.removeChild(table.childNodes[2]);
	}
	
	for (i = 0; i < dataobject.sensors.length; i++) {
		//create table entries
		var tablerow = document.createElement("tr");
		tablerow.setAttribute("sensorID", dataobject.sensors[i].ID);
		

		//Apparature
		var tableelement_apparature = document.createElement("td");
		tableelement_apparature.setAttribute("ondblclick", "updateData(this)");
		tableelement_apparature.setAttribute("id","Apparature");
		var tableelement_apparature_text = document.createTextNode(dataobject.sensors[i].Apparature);

		//Title
		var tableelement_title = document.createElement("td");
		tableelement_title.setAttribute("ondblclick", "updateData(this)");
		tableelement_title.setAttribute("id", "Title");
		var tableelement_title_text = document.createTextNode(dataobject.sensors[i].Title);

		//Description
		var tableelement_description = document.createElement("td");
		tableelement_description.setAttribute("ondblclick", "updateData(this)");
		tableelement_description.setAttribute("id", "Description");
		var tableelement_description_text = document.createTextNode(dataobject.sensors[i].Description);

		//Unit
		var tableelement_unit = document.createElement("td");
		tableelement_unit.setAttribute("ondblclick", "updateData(this)");
		tableelement_unit.setAttribute("id", "Unit");
		var tableelement_unit_text = document.createTextNode(dataobject.sensors[i].Unit);

		//Active
		var tableelement_active = document.createElement("td");
		tableelement_active.setAttribute("id", "Active");
		tableelement_active.setAttribute("ondblclick", "updateActive(this)");


		tableelement_apparature.appendChild(tableelement_apparature_text);
		tableelement_title.appendChild(tableelement_title_text);
		tableelement_description.appendChild(tableelement_description_text);
		tableelement_unit.appendChild(tableelement_unit_text);
		if (dataobject.sensors[i].Active == 1) {
			tableelement_active.appendChild(Checkmark());
			tableelement_active.setAttribute("value", "1");
		}
		else {
			tableelement_active.appendChild(Crossmark());
			tableelement_active.setAttribute("value", "0");
		}

		// tablerow.appendChild(tableelement_id);
		tablerow.appendChild(tableelement_title);
		tablerow.appendChild(tableelement_apparature);
		tablerow.appendChild(tableelement_description);
		tablerow.appendChild(tableelement_unit);
		tablerow.appendChild(tableelement_active);

		table.appendChild(tablerow);
	}
}


/* 
	This function could be used, or just reload the whole table to be sure the sensor was added to the database
*/
function AddElementSensorTable(element) {
	var table = document.getElementById("sensortableinfo");


}

function Checkmark() {
	var checkmark = document.createElement("span");
	checkmark.setAttribute("class", "checkmark");

	var div1 = document.createElement("div");
	div1.setAttribute("class", "checkmark_circle");
	var div2 = document.createElement("div");
	div2.setAttribute("class", "checkmark_stem");
	var div3 = document.createElement("div");
	div3.setAttribute("class", "checkmark_kick");

	checkmark.appendChild(div1);
	checkmark.appendChild(div2);
	checkmark.appendChild(div3);
	return checkmark;
}

function Crossmark() {
	var crossmark = document.createElement("span");
	crossmark.setAttribute("class", "crossmark");

	var div1 = document.createElement("div");
	div1.setAttribute("class", "crossmark_circle");
	var div2 = document.createElement("div");
	div2.setAttribute("class", "crossmark_slash");
	var div3 = document.createElement("div");
	div3.setAttribute("class", "crossmark_backslash");

	crossmark.appendChild(div1);
	crossmark.appendChild(div2);
	crossmark.appendChild(div3);
	return crossmark;
}

window.onload = LoadSensorData;
</script>