<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "userpage/defaultstyle.css" %}">
</head>
<body>
<ul>
  <li><a href="../">Home</a></li>
  <li><a class="active" href="">Sensors</a></li>
  <li><a href="../minute">MinuteData</a></li>
  <li><a href="../hour">HourData</a></li>
  <li><a href="../day">DayData</a></li>
  <li><a href="../month">MonthData</a></li>
  <li><a href="../year">YearData</a></li>
</ul>
	{% if sensor_list %}
		<div style="overflow-x:auto;">
		<table class="sortable">
			<tr>
				<th>Sensor ID</th>
				<th>Name</th>
				<th>Installed on</th>
				<th>Active</th>
			</tr>
		{% for sensor in sensor_list %}
			<tr>
				<td>{{sensor.ID}}</td>
				<td>{{sensor.Apparature}}</td>
				<td>{{sensor.InstalledOn}}</td>

				{% if sensor.Active %}
				<td>
					<span class="checkmark">
						<div class="checkmark_circle"></div>
						<div class="checkmark_stem"></div>
						<div class="checkmark_kick"></div>
					</span>
				</td>
				{% else %}
				<td>
					<span class="crossmark">
					    <div class="crossmark_circle"></div>
					    <div class="crossmark_slash"></div>
					    <div class="crossmark_backslash"></div>
					</span>
				</td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
		</div>
		<br><br><br><br><br>

		<div style="overflow-x:auto;">
		<table id="tablesensorinfo" class=sortable>
			<tr>
				<th>Sensor ID</th>
				<th>Name</th>
				<th>Installed on</th>
				<th>Active</th>
			</tr>
		</table>
		</div>

	{% else %}
		<p>There are no sensors in the database.</p>
	{% endif %}
</body>
</html>

{% load staticfiles %}
<script src="{% static "userpage/sortable.js" %}"></script>
<script>
function LoadSensorData() {
	var jsonhttp = new XMLHttpRequest();
	var url = "/index/sensors/all";

	jsonhttp.onreadystatechange = function() {
		if (jsonhttp.readyState == 4 && jsonhttp.status == 200) {
			// console.log(jsonhttp.responseText);
			var sensordataobject = JSON.parse(jsonhttp.responseText);
			DisplaySensorDataTable(sensordataobject);
		}
	}
	jsonhttp.open("GET", url, true);
	jsonhttp.send();
}

function DisplaySensorDataTable(dataobject) {
	// console.log(dataobject);
	var table = document.getElementById("tablesensorinfo");
	for (i = 0; i < dataobject.sensors.length; i++) {
		//create table entries
		var tablerow = document.createElement("tr");
		var tableelement1 = document.createElement("td");
		var tableelement1text = document.createTextNode(dataobject.sensors[i].ID);
		var tableelement2 = document.createElement("td");
		var tableelement2text = document.createTextNode(dataobject.sensors[i].Apparature);
		var tableelement3 = document.createElement("td");
		var tableelement3text = document.createTextNode(dataobject.sensors[i].InstalledOn);
		var tableelement4 = document.createElement("td");

		tableelement1.appendChild(tableelement1text);
		tableelement2.appendChild(tableelement2text);
		tableelement3.appendChild(tableelement3text);
		if (dataobject.sensors[i].Active == 1) {
			tableelement4.appendChild(Checkmark());
		}
		else {
			tableelement4.appendChild(Crossmark());
		}

		tablerow.appendChild(tableelement1);
		tablerow.appendChild(tableelement2);
		tablerow.appendChild(tableelement3);
		tablerow.appendChild(tableelement4);
		table.appendChild(tablerow);
	}
	sorttable.makeSortable(table);
}

function Checkmark() {
	var checkmark = document.createElement("span");
	checkmark.setAttribute("class", "checkmark");

	var div1 = document.createElement("div");
	div1.setAttribute("class", "checkmark_circle");
	var div2 = document.createElement("div");
	div2.setAttribute("class", "checkmark_stem");
	var div3 = document.createElement("div");
	div3.setAttribute("class", "checkmark_kick");

	checkmark.appendChild(div1);
	checkmark.appendChild(div2);
	checkmark.appendChild(div3);
	return checkmark;
}

function Crossmark() {
	var crossmark = document.createElement("span");
	crossmark.setAttribute("class", "crossmark");

	var div1 = document.createElement("div");
	div1.setAttribute("class", "crossmark_circle");
	var div2 = document.createElement("div");
	div2.setAttribute("class", "crossmark_slash");
	var div3 = document.createElement("div");
	div3.setAttribute("class", "crossmark_backslash");

	crossmark.appendChild(div1);
	crossmark.appendChild(div2);
	crossmark.appendChild(div3);
	return crossmark;
}

window.onload = LoadSensorData;
</script>