<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/defaultstyle.css'%}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css'%}">

</head>

<body>

<ul1>
  <li1><a href="../">Start</a></li1>
  <li1><a href="../sensors/">Sensoren</a></li1>
  <li1><a href="../minute/">Energieverbruik</a></li1>
  {% if request.session.IsAdmin %}
  <li1><a href="../../admin/users">Gebruikers</a></li1>
  <li1><a href="../../admin/report">Verslag</a></li1>
  {% endif %}
  <li1><a href="../about/">Over</a></li1>
</ul1>
<div class="dropdown" >
<button class="dropbtn" style="float:right">Account</button>
    <div class="dropdown-content a">
     <a href="/logout/">Log uit</a>
     <a href="">Instellingen</a>
     <a href="../addHouse/">Voeg huis toe</a>
	</div>
</div>
<br><br><br><br><br>

<title>Settings</title>

<div class="changehousehold">
	<p>Huidig huis: </p>
	<table id="currenthousehold">
	</table>
	<br>
	<form id="changehouseholdform" action="javascript: void(0);">
	</form>
</div>
<br><br><br><br>

<div class="householdtable" style="overflow-x:auto;">
<table id="householdtable">
	<tr id="householdtableheader">
		<th>Straat</th>
		<th>Nummer</th>
		<th>Stad</th>
		<th>Postcode</th>
		<th>Land</th>
		<th>Prijs per unit<sup>1</sup></th>
	</tr>
</table>
</div>

<p class="PriceInfo"><sup>1</sup>Dubbelklik op de prijs van een bepaald huis om het te veranderen.</p>




</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/settings.js' %}"></script>
