<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "userpage/defaultstyle.css" %}">
</head>
<body>
<ul>
  <li><a href="../">Home</a></li>
  <li><a href="../sensors">Sensors</a></li>
  <li><a href="../minute">MinuteData</a></li>
  <li><a href="../hour">HourData</a></li>
  <li><a href="../day">DayData</a></li>
  <li><a href="../month">MonthData</a></li>
  <li><a class="active" href="">YearData</a></li>
</ul>

	{% if yeardata_list %}
		<div style="overflow-x:auto;">
		<table>
			<tr>
				<th>Creation date</th>
				<th>Sensor ID</th>
				<th>Value</th>
			</tr>
		{% for yeardatasample in yeardata_list %}
			<tr>
				<td>{{yeardatasample.CreationTimestamp}}</td>
				<td>{{yeardatasample.SensorID}}</td>
				<td>{{yeardatasample.Value}}</td>
			</tr>
		{% endfor %}
		</table>
		</div>
	{% else %}
		<p>There are no data samples in the database.</p>
	{% endif %}
</body>
</html>