<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/defaultstyle.css' %}">
</head>
<body>
<ul1>
  <li1><a href="../../index">Start</a></li1>
  <li1><a href="../../index/sensors">Sensoren</a></li1>
  <li1><a href="../../index/minute/">Energieverbruik</a></li1>
  {% if request.session.IsAdmin %}
  <li1><a href="../users">Gebruikers</a></li1>
  <li1><a class="active" href="">Verslag</a></li1>
  {% endif %}
  <li1><a href="../../index/about/">Over</a></li1>
</ul1>
  <div class="dropdown" >
	<button class="dropbtn" style="float:right">Account</button>
        <div class="dropdown-content a">
	     <a href="../../index/settings/">Instellingen</a>
	     <a href="../../addHouse/">Voeg huis toe</a>
            <a href="../../logout/">Log uit</a>
  	</div>
  </div>
    <div id="resultGraph" style="display: none;">
    <!-- Graph dinges hier -->
        <div id="programmatic_dashboard_div" style="border: 1px solid #ccc">
      <table class="columns">
        <tr>
          <td>
                <div id="programmatic_chart_div"></div>
          </td>
 
        </tr>
         <td>
                <div id="programmatic_control_div" style="padding-left: 12em; min-width: 1100px; min-height: 80px;"></div>
          </td>
      </table>
    </div>
    </div>

</body>
</html>

<script type="text/javascript">google.charts.load('current', {'packages':['corechart', 'controls']});google.charts.setOnLoadCallback(drawGraph);</script>
      
<script>

function drawGraph() {
    datajson = {{ data }}
    $("#resultGraph").show();
    //alles voor die grafiek zever

            var dashboard = new google.visualization.Dashboard(
          document.getElementById('programmatic_dashboard_div'));

        programmaticSlider = new google.visualization.ControlWrapper({
          'controlType': 'ChartRangeFilter',
          'containerId': 'programmatic_control_div',
          'options': {
            'filterColumnLabel': 'time',
            'width':1300,
          }
        });

       programmaticChart  = new google.visualization.ChartWrapper({
        'chartType': 'LineChart',
        'containerId': 'programmatic_chart_div',
        'options': {
          'width': 1500,
          'height': 700,
          'legend': 'right',
        }
      });
  
      var data = new google.visualization.DataTable();
      data.addColumn("datetime","time");
      data.addColumn("number", "Total");
//data inputing here
      totaldata = [];
      for(i=0;i<datajson.datasamples;i++){
        row = [];
		var timeyear = datajson.datasamples[i].CreationTimestamp.slice(0,4);
		var timemonth = mdatajson.datasamples[i].CreationTimestamp.slice(5,7)-1;
		var timeday = datajson.datasamples[i].CreationTimestamp.slice(8,10);
		var timehour = datajson.datasamples[i].CreationTimestamp.slice(11,13);
		var timeminute = datajson.datasamples[i].CreationTimestamp.slice(14,16);
		row.push(new Date(timeyear, timemonth, timeday, timehour, timeminute));
        row.push(parseFloat(datajson.datasamples[i].Value));
        totaldata.push();
      }
      data.addRows(totaldata);

      dashboard.bind(programmaticSlider, programmaticChart);
      dashboard.draw(data);
}
</script>
